body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fdfffc;
  height: 100vh;
  background-color: #246eb9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 100vh;
}

.general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 40vw;
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 4s;
}
.infoMeteo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 50vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0%;
  border: solid 1px #fdfffc;
  opacity: 0;
  animation: appearside 2s forwards;
  animation-delay: 2s;
  overflow: hidden;
  @media only screen and (max-device-width: 768px) {
  }
}
.infoG {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infoD {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: calc(50px - 2vw);
  color: #fdfffc;
}
h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  color: #fdfffc;
}
h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  color: #fdfffc;
}
.description {
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 5s;
  color: #246eb9;
}
.infoComp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
}
.temp {
  font-size: calc(130px - 2vw);
  h4 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    color: #fdfffc;
  }
}
.humid {
  width: 123px;
  height: 20px;
  animation: mouv 3s alternate infinite;
}
.wind {
  animation: mouv 3s alternate infinite;
  animation-delay: 1s;
}
@keyframes mouv {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}
footer {
  width: 100vw;
  height: 20vh;
  opacity: 0;
  position: relative;
  @media only screen and (max-device-width: 767px) {
    display: none;
  }
  animation: appearUp 2s forwards;
  animation-delay: 10s;
}
//animationFooter
@keyframes appearUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
//animationInfoGeneral
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
//animationInfoMeteo
@keyframes appearside {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
//preload
.smoke-a {
  width: 5px;
  height: 5px;
  background-color: white;
  position: fixed;
  border-radius: 50%;
  top: 44vh;
  left: 44vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.4s;
}
.smoke-b {
  width: 5px;
  height: 5px;
  background-color: white;
  position: fixed;
  border-radius: 50%;
  top: 47vh;
  left: 45vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.6s;
}
.smoke-c {
  width: 5px;
  height: 5px;
  background-color: white;
  position: fixed;
  border-radius: 50%;
  top: 44vh;
  left: 48vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.8s;
}
.smoke-d {
  width: 5px;
  height: 5px;
  background-color: white;
  position: fixed;
  border-radius: 50%;
  top: 45vh;
  left: 50vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2s;
}
.smoke-e {
  width: 5px;
  height: 5px;
  background-color: white;
  position: fixed;
  border-radius: 50%;
  top: 50vh;
  left: 52vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2.2s;
}
.smoke-e {
  width: 5px;
  height: 5px;
  background-color: white;
  position: fixed;
  border-radius: 50%;
  top: 46vh;
  left: 46vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2.4s;
}

//animationNuages
.smokesAfterPreload {
  width: 1px;
  opacity: 1px;
}
.smoke-1 {
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 2%;
  left: 97%;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.4s;
}
.smoke-2 {
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 6%;
  left: 99%;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.6s;
}
.smoke-3 {
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 1%;
  left: 96%;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.8s;
}
.smoke-4 {
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 7%;
  left: 93%;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2s;
}
.smoke-5 {
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 9%;
  left: 89%;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2.2s;
}
.smoke-6 {
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 4%;
  left: 91%;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2.4s;
}

//animationNuages
@keyframes smokeMove {
  0% {
    transform: scale(10);
  }
  100% {
    transform: scale(20);
  }
}

.smoke-7 {
  width: calc(-5px + 1vw);
  height: calc(-5px + 1vw);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 30vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.2s;
}
.smoke-8 {
  width: calc(-5px + 1vw);
  height: calc(-5px + 1vw);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 33vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.4s;
}
.smoke-9 {
  width: calc(-5px + 1vw);
  height: calc(-5px + 1vw);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 36vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.6s;
}
.smoke-10 {
  width: calc(-5px + 1vw);
  height: calc(-5px + 1vw);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 39vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 1.8s;
}
.smoke-11 {
  width: calc(-5px + 1vw);
  height: calc(-5px + 1vw);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 42vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2s;
}
.smoke-12 {
  width: calc(-5px + 1vw);
  height: calc(-5px + 1vw);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 45vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2.2s;
}
.smoke-13 {
  width: calc(-5px + 1vw);
  height: calc(-5px + 1vw);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 48vw;
  animation: smokeMove 0.8s alternate infinite;
  animation-delay: 2.4s;
}
